body{
    margin: 0;
    padding: 0;
     background: url(fon.jpg);
     background-size: cover;
}
.box{
    width: 450px;
     background: wheat;
     padding: 40px;
     text-align: center;
     margin: auto;
     margin-top: 10%;
     color: rgb(20, 19, 19);
     font-family: Forte;
}
.box img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    cursor: pointer;
}
.box img:hover{
    transform: scale(0.9);
}
.box h1{
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: normal;
}
.box p{
    text-align: justify;
    text-align: center;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: black;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a :hover{
    color: rgb(143, 127, 98);
}